*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.container{
    width:300px;
    height:450px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius:10px;
    box-shadow: 0 0 10px black;
}
.container form{
    margin-top: 35px;
}
.container input{
    width:65px;
    height:60px;
    border: 0;
    outline: 0;
    background-color: aqua;
    cursor: pointer;
    background: transparent;
    box-shadow: -8px -8px 25px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.container .keys{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.container div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="text"]{
    width:250px;
    height: 50px;
    border: none;
    outline: none;
}

.container .show{
    width:90%;
    height: 65px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin:10px auto;
    background-color: black;
    border-radius:10px ;
    
}
.container .show input{
    text-align: right;
    flex: 1;
    font-size: 35px;
    color: aliceblue;
}